<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Library?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <mapping class="ModdleEntity.Operations"/>
    <mapping class="ModdleEntity.Book"/>
    <mapping class="ModdleEntity.Client"/>
    <mapping class="ModdleEntity.BookCategory"/>
    <mapping class="ModdleEntity.Login"/>
    <mapping resource="ControllerUtil/BookCategory.hbm.xml"/>
    <mapping resource="ControllerUtil/Operations.hbm.xml"/>
    <mapping resource="ControllerUtil/Client.hbm.xml"/>
    <mapping resource="ControllerUtil/Login.hbm.xml"/>
    <mapping resource="ControllerUtil/Book.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
